/* General Styles */
body {
    margin: 0;
    background: rgb(65, 65, 122);
}

/* Nav Styles */
nav {
    background-color: bisque;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

nav p, nav a {}

nav a {}

nav a:hover {}

/* Footer Styles */
footer {
    background-color: bisque;
    padding: 10px;
    display: flex;
    justify-content: center;
}

footer a {}

footer a:hover {}

/* Splash Section */
.splash {
    text-align: center;
    background: rgb(65, 65, 122);
    padding: 20px;
}

.splash h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #e9c46a;
}

.splash img {
    border-radius: 50%;
    border: 2px solid #e9c46a;
}

.splash p {
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    color:beige;
}

/* Horizontal Rules */
hr {
    border-color: #e9c46a;
    border-width: medium;
    border-style:double;
}

/* Sections */
section {}

/* Section Headings */
section h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e9c46a;
    background: rgb(65, 65, 122);
}

.education {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
    color: beige;
}

/* Paragraph Styles */
section p {}

/* link styles */
section a {
    color: #e9c46a;
    text-decoration: none;
    font-size:large
}
section a:hover {
    color: crimson;
    text-decoration: underline;
}

/* List Styles */
ul {
    list-style-type: square;
    color: beige;
}

dl {
    display: grid;
    grid-template-columns: 250px 200px;
    gap: 6px;
}

dl dt{
    color: beige;
}

dl dd{
    color: beige;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    background: #e9c46a;
    padding: 15px;
    box-shadow: 0px 4px 8px black;
    border-radius: 15px;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 30px;
    border: 4px solid midnightblue;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

}

.card h3 {
    margin: 10px, 0;
    font-size: larger;
}

/* Contact Page Styles */
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {}

form input, form textarea {
    width: 100%;
    max-width: 500;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form input:focus, form textarea:focus {}

form input[type="submit"] {
    background-color: #e9c46a;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
}

form input[type="submit"]:hover {
    background-color:cadetblue;
}
